@using Books.ServiceReference1
@model Books.ViewModels.Users.IndexVM
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Site.cshtml";

    Service1Client service = new Service1Client();

    UserDTO loggedUser = (UserDTO)Session["loggedUser"];

    List<FriendRequestDTO> requests = service.GetFriendRequestByUserId(loggedUser.Id).ToList();
    List<FriendDTO> friends =service.GetFriendsByUserId(loggedUser.Id).ToList();
}

<fieldset>
    <legend>Site Users</legend>

    <div>
        @using (Html.BeginForm("Index", "User", FormMethod.Get))
        {
            <p>
                Name:@Html.TextBox("Search")
                <input type="submit" value="Search" />
            </p>
        }
    </div>
    <hr />

    <div class="grid">
        @if (loggedUser.userRole.Id == 1)
        {
            <div class="col-1"><a href="/User/Create">Create User</a></div>
            <br />
        }
        <div class="row">
            @foreach (UserDTO user in Model.Users)
            {
                if (user.Id != loggedUser.Id)
                {
                    <div class="row">
                        <div class="col-2"><a href="/User/UserProfile?Id=@user.Id"> @user.Username </a></div>

                        <div class="col-2">
                            @if (requests.Where(u => u.Receiver.Id == user.Id).FirstOrDefault() == null
                                && friends.Where(u => u.Friend.Id == user.Id).FirstOrDefault() == null)
                            {
                                <a href="/Friends/FriendRequest?Id=@user.Id">Send Friend Request</a>

                            }
                            else
                            {
                                <p>You are already friends</p>
                            }
                        </div>

                        <div class="col-2">

                            @if (loggedUser.userRole.Id == 1)
                            {
                                <p>
                                    | <a href="/User/Edit?Id=@user.Id">Edit</a> |
                                    <a href="/User/Delete?Id=@user.Id">Delete</a> |
                                </p>
                            }

                        </div>
                    </div>
                }
            }
        </div>
        <div class="row">
            <div class="col-2">
                <p class="right">
                    @if (Model.Page > 1)
                    {
                        <a href="/User/Index?Page=@(Model.Page-1)"> < </a>
                    }

                    @Model.Page

                    @if (Model.Page < Model.PageCount)
                    {
                        <a href="/User/Index?Page=@(Model.Page + 1)"> > </a>
                    }
                </p>
            </div>
        </div>
    </div>
</fieldset>

